ion-input, ion-item {
  --border-radius: 10px;
  --background: #f5f5f5;
  --padding-start: 16px;
  --border-color: #e0e0e0;
  --border-width: 1px;
  --highlight-color-focused: #2dc5a2;
  font-size: var(--font-md);
  font-weight: var(--font-medium);
}

ion-input.ng-invalid.ng-dirty {
  --highlight-color-focused: var(--app-danger);
}


:host(.ng-invalid.ng-touched) {
  ion-input {
    --border-color: var(--app-danger);
    --highlight-color-focused: var(--app-danger);
  }
}

:host(.ng-valid.ng-dirty) {
  ion-input {
    --border-color: var(--app-success);       // borde verde
  }
}
