ion-input, ion-item {
  --border-radius: 10px;
  --background: #f5f5f5;
  --padding-start: 16px;
  --border-color: #e0e0e0;
  --border-width: 1px;
  --highlight-color-focused: #2dc5a2;
  margin-bottom: 12px;
}

ion-input.ng-invalid.ng-dirty {
  --highlight-color-focused: red;
}


:host(.ng-invalid.ng-touched) {
  ion-input {
    --border-color: red;
    --highlight-color-focused: red;
  }
}

:host(.ng-valid.ng-dirty) {
  ion-input {
    --border-color: #2dc5a2;       // borde verde
  }
}
