ion-item {
  border-radius: 20px;
}

ion-label {
  position: stacked;
}


ion-note {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  text-overflow: ellipsis;
  width: 100%;
}
