ion-segment {
  --background: rgb(75, 75, 213);
  --padding-top: 10px;

  ion-segment-button {
    --color: #fff;
    font-weight: 500;
  }

  ion-segment-button.segment-button-checked {
    border: none;
    color: white ;
    background-color: rgb(144, 144, 222);
  }
}

ion-tab-bar {
  --background: #56e39f;
  --color: #fff;
  border: none;
}

ion-toolbar {
  --background: #56e39f;
  --color: #fff;
  border: none;
}

ion-row {
  padding: 7px;
  width: 100%;
}

app-date-field, app-select-field, app-form-input {
  width: 100%;
}

