<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" (click)="close()">
        <ion-icon  slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label>{{ transaction ? 'Actualizar' : 'Agregar' }}</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" form="transactionForm">
        <ion-icon slot="icon-only" name="checkmark-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <ion-card>
    <form id="transactionForm" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <ion-card-header>
        <ion-grid [fixed]="true" class="ion-no-padding">
          <ion-row class="ion-justify-content-start">
            <ion-label>Tipo Transaccion</ion-label>
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <ion-segment formControlName="type" ngDefaultControl value="Ingreso">
              <ion-segment-button value="Ingreso">
                <ion-label>Ingreso</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Gasto">
                <ion-label>Gasto</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Neutral">
                <ion-label>Neutral</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <ion-label>Categoria</ion-label>
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <app-select-field formControlName="category" [value]="transaction?.category" (onChange)="handleCategoryChange($event)" ngDefaultControl [options]="categoriesOptions" label="Categoria" />
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <ion-label>Fecha realización</ion-label>
          </ion-row>
          <ion-row class="ion-justify-content-between">
            <app-date-field
              formControlName="issueDate"
                [value]="transaction ?  transaction.issueDate : currentDateString "
                (onChange)="handleDateChange($event)"
              ngDefaultControl  label="Seleccione una fecha" />
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <ion-label>Monto</ion-label>
          </ion-row>
          <ion-row>
            <app-form-input formControlName="amount" ngDefaultControl type="number" />
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-item-divider> </ion-item-divider>
      <ion-card-content>
        <ion-row class="ion-justify-content-start">
          <ion-label><strong>Campos opcionales</strong></ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-label>Descripción</ion-label>
        </ion-row>
        <ion-row>
          <ion-textarea formControlName="description" ngDefaultControl />
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-label>Comprobante Fotografico</ion-label>
        </ion-row>
        <ion-row>
          <!-- AQUI EL COMPONENTE PARA MOSTRAR, SELECCIONAR, TOMAR O ELIMINAR FOTO  -->
        </ion-row>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
