<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="close()" defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label> Detalles </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDelete()"><ion-icon size="medium" name="trash"></ion-icon></ion-button>
      <ion-button (click)="onUpdate()"><ion-icon size="medium" name="create"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
@if(!loadingData){
  <ion-card>
    <ion-card-header>
      <ion-grid [fixed]="true" >
        <ion-row class="ion-justify-content-start">
          <ion-col>
            Categoria
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
            <!-- <ion-title>{{ transaction?.category }}</ion-title> -->
            <app-category-badge
              *ngIf="transaction"
              [category]="transaction.category"
              [showIcon]="true"
            />
        </ion-row>

        <ion-row class="ion-justify-content-start">
          <ion-col>
            Tipo
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
            <ion-title>{{ transaction?.type }}</ion-title>
        </ion-row>

        <ion-row class="ion-justify-content-start">
          <ion-col>
            Monto
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
            <!-- <ion-title>{{ transaction?.amount }}</ion-title> -->
             <app-amount-display
              *ngIf="transaction"
              [amount]="transaction.amount"
              [type]="transaction.type.toLocaleLowerCase()"
              size="large"
             />
        </ion-row>

        <ion-row class="ion-justify-content-start">
          <ion-col>
            Fecha
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
            <ion-title>{{ transaction!.issueDate  | relativeDate}}</ion-title>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-item-divider>
    </ion-item-divider>
    <ion-card-content>
      <ion-grid fixed="true">
        <ion-row>
          <ion-label>MÁS DETALLES</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>{{transaction?.description}}</ion-label>
        </ion-row>
        <ion-row>
          {{transaction!.proofImage }}
          <ion-thumbnail >
            @if(transaction){
              <img [src]="transaction.proofImage ? getImageUrl(transaction.proofImage)  : proofImageUrl " [alt]="transaction.description">
            }
            <!-- <img [src]="getImageUrl(transaction?.proofImage)" [alt]="transaction?.description"> -->
          </ion-thumbnail>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
}
</ion-content>
