:host {
  ion-content {
    --background: white;
    border-radius: 20px 20px 0 0;
  }
}
ion-tab-bar {
  --background: var(--app-primary);
  --color: #fff;
  border: none;
}

ion-toolbar {
  --background: var(--app-primary);
  --color: #fff;
  border: none;
}


ion-thumbnail {
  --size: 200px;
  --border-radius: 14px;
}

ion-row {
  padding: 10px;
}


ion-label {
  color: black;
}

ion-title {
  color: white;
}
