<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"> </ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="segmentSelected">
    <ion-segment-button value="list">
      <ion-label>Lista</ion-label>
    </ion-segment-button>

    <ion-segment-button value="search">
      <ion-label>Filtros y Busqueda</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="light" class="ion-no-padding">
  <div *ngIf="segmentSelected === 'list'">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button [routerLink]="['../create']">
          <ion-icon :icon="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      @if (transactions.length === 0) {
        <app-empty-state
          message="No hay transacciones registradas"
          action="dashboard"
          iconName="layer-outline"
          (onAction)="handleAction($event)"
        />
      }
      <ion-card class="ion-no-padding">
        @if (transactions.length > 0) {
          <ion-card-header>
            <ion-label>Orden Cronologico</ion-label>
          </ion-card-header>
        }
        <ion-card-content>
          @if (transactions.length > 0) {
            <ion-list lines="inset">
              @for (transaction of transactions; track $index) {
                <app-transaction-item
                  [transaction]="transaction"
                  (onDetail)="onClickedItem($event)"
                />
              }
            </ion-list>
          }
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="segmentSelected=== 'search'">
    <app-transaction-search>
    </app-transaction-search>
  </div>
</ion-content>
