<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"> </ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="segmentSelected">
    <ion-segment-button value="list">
      <ion-label>Lista</ion-label>
    </ion-segment-button>

    <ion-segment-button value="search">
      <ion-label>Filtros y Busqueda</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['../create']">
      <ion-icon :icon="add"></ion-icon>
    </ion-fab-button>
</ion-fab>


  @if (transactions.length > 0) {

  }

<ion-content color="light" class="ion-no-padding" >
  <div *ngIf="segmentSelected === 'list'">
      <ion-card class="ion-no-padding">
        @if(transactions.length > 0){
          <ion-card-header>
            <ion-label class="ion-text-center">
              <strong>
                {{segmentSelected === 'list' ? 'Orden Cronologico' : 'Filtra Según desees'}}
              </strong>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
              <ion-list>
                @for (transaction of transactions; track $index) {
                  <app-transaction-item
                  [transaction]="transaction"
                  (onDetail)="onClickedItem($event)"
                  />
                }
              </ion-list>
            </ion-card-content>
        } @else {
          <app-empty-state
            message="No hay transacciones registradas"
            action="dashboard"
            iconName="layer-outline"
            (onAction)="handleAction($event)"
          />
        }
      </ion-card>
  </div>

  <div *ngIf="segmentSelected=== 'search'">
    <app-transaction-search>
    </app-transaction-search>
  </div>
</ion-content>
