.dashboard-content {
  --background: #f4f6f9;
}

/* BALANCE PRINCIPAL */

.balance-card {
  border-radius: 20px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
}

.balance-container {
  text-align: center;
  padding: 10px;
}

.balance-label {
  font-size: 14px;
  opacity: 0.8;
}

.balance-value {
  font-size: 32px;
  font-weight: bold;
  margin-top: 8px;
}

/* METRICAS */

.metric-card {
  border-radius: 16px;
}

.metric-container {
  text-align: center;
}

.metric-label {
  font-size: 13px;
  opacity: 0.7;
}

.metric-card h2 {
  margin-top: 6px;
  font-weight: 600;
}

.metric-card.income {
  border-left: 5px solid #2dd36f;
}

.metric-card.expense {
  border-left: 5px solid #eb445a;
}

.metric-card.neutral {
  border-left: 5px solid #1968ca;
}

/* GRAFICOS */

.chart-card {
  margin-top: 20px;
  border-radius: 18px;
}

/* TRANSACCIONES */

.recent-card {
  margin-top: 20px;
  border-radius: 18px;
}

ion-item {
  --padding-start: 10px;
}
