ion-list {
  --border-radius: 20px;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin-bottom: 20px;
  height: 100vh;
}

ion-card-content ion-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  overflow-y: scroll;
  // background-color: #444;
  margin-bottom: 50px;
} 
ion-card {
  --padding: 0;
  margin: 0;
  --border: 1px solid transparent;
  height: 100vh;

  ion-card-content.ion-list {
    &:last-child{
      list-style: none;;
    }
  }

  ion-label {
    text-align: center;
    font-size: medium;
    font-weight: 400;
    color: white;
  }
}

ion-tab-bar {
  --background: #56e39f;
  --color: #fff;
  border: none;
}

ion-toolbar {
  --background: #56e39f;
  --color: #fff;
  border: none;
}

ion-segment {
  --background: #1096c7;
  border: #56e39f;
  ion-segment-button {
    color: white;
    --border: 2px solid magenta;
  }
}


ion-segment-button.segment-selected {
  --background: #5680e3;
  border-bottom: #a90505;
}


ion-segment-button::part(indicator-background) {
  background: #fff;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: rgb(231, 231, 243);
}

.segment-button-checked.md::part(native) {
  color: #fff;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #fff;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

ion-select {
  width: 100%;
  font-size: 20px;
}
